@use 'src/common/styles/colors' as color;
@use 'src/common/styles/borders' as border;
@use 'src/common/styles/mixins' as mixin;

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

  @include mixin.container-style(
    50%,
    auto,
    30px,
    border.$b-Radius-15,
    center,
    color.$color-light-teal
  );
  padding: 15px;
  @include mixin.border-style(2px, color.$color-teal, solid);
  p {
    width: 70%;
    padding: 10px;
    text-align: left;
    margin: 10px;
    @include mixin.border-style(2px, color.$color-teal, solid);
    border-radius: border.$b-Radius-15;
    background-color: color.$color-white;
  }
}

.done {
  @include mixin.icon-style(10px, 50px, 2rem, color.$color-white, color.$color-green);
}

.notDone {
  @include mixin.icon-style(10px, 50px, 2rem, color.$color-white, color.$error-color);
}
