@use "src/common/styles/colors" as color;

.card {
  width: 50%;
  margin: 20px;
  margin: auto;
  background-color: color.$color-light-teal;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.avatar {
  width: 50%;
  margin: auto;
  padding-top: 20px;
}

.container {
  padding: 2px 16px;
  p {
    text-transform: capitalize;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
   font-style: italic;
  }
}
