@use 'src/common/styles/colors' as color;
@use 'src/common/styles/templates' as *;
@use 'src/common/styles/borders' as border;
@use 'src/common/styles/mixins' as mixin;

.container {
  @include mixin.container-style(
    75%,
    auto,
    0,
    025px,
    center,
    color.$color-light-teal
  );
  padding: 20px;
}

.fields {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  margin-top: 30px;
}

.field {
  padding: 5px;
  margin: 5px 0;
  border-radius: border.$b-Radius-5;
}

.submit {
  padding: 7px;
  margin: 10px 0;
  border-radius: border.$b-Radius-5;
  font-weight: 600;
  color: color.$color-white;
  background-color: color.$color-teal;
  text-transform: uppercase;
}

.spanError {
  @extend .spanError;
}
