@use 'src/common/styles/colors' as color;
@use 'src/common/styles/borders' as border;
@use 'src/common/styles/mixins' as mixin;

.container {
  @include mixin.container-style(
    80%,
    auto,
    0,
    border.$b-Radius-15,
    0,
    color.$color-light-teal
  );
  padding: 10px;
}

.title {
  text-align: center;
  font-size: 2em;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 70%;
  padding: 10px;
  margin: auto;
}

.btn {
  padding: 15px;
  margin: 25px;
  border-radius: border.$b-Radius-5;
  background-color: color.$color-teal;
  color: color.$color-white;
  font-size: 1.5rem;
  text-transform: uppercase;
}
