@use 'src/common/styles/colors' as color;
@use 'src/common/styles/templates' as *;
@use "src/common/styles/borders" as border;

.fields {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  margin-top: 30px;
}

.field {
  padding: 5px;
  margin: 5px 0;
  border-radius: border.$b-Radius-5;
}

.submit {
  padding: 7px;
  margin: 5px 0;
  border-radius: border.$b-Radius-5;
  color: color.$color-white;
  font-weight: 600;
  background-color: color.$color-medium-blue;
  text-transform: uppercase;
}
.spanError {
  @extend .spanError;
}
