$main-color: rgb(150, 46, 132);
$error-color: rgb(253, 7, 7);
$color-white: #fff;
$color-black: #000000;
$color-braun: rgb(27, 17, 5);
$color-braun-hover: rgb(255, 255, 255, 0.3);
$color-light-teal: rgb(151, 223, 223);
$color-teal: rgb(21, 156, 156);
$color-medium-blue: rgb(89, 141, 209);
$color-green: rgb(92, 219, 18);





// @use "src/common/styles/colors" as color;