@use 'src/common/styles/colors' as color;
@use 'src/common/styles/mixins' as mixin;

.container {
  @include mixin.container-style(80%, auto, 10px, 25px, center, color.$color-light-teal);
  padding: 20px 0 20px 0;
}

.btn {
  width: 75px;
  height: 75px;
  margin: 10px 0 0 30px;
  @include mixin.border-style(3px, color.$color-white, solid);
  border-radius: 10px;
  background-color: color.$color-teal;
  color: color.$color-white;
  .icon {
    width: 100%;
    height: 100%;
  }
}
